.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-form-label,
  .signup-form-input {
    width: 100%; /* Takes full width of the container */
    margin-bottom: 10px; /* Adds space between fields */
  }
  
  .signup-form-button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    margin-bottom: 5px;
  }
  
  li{
    color: red;
  }