.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the container takes at least the full viewport height */
    text-align: center; /* Centers the text horizontally */
  }
  
  .dashboard-content {
    /* Additional styling for the content can go here, if needed */
  }
  