.main-container {
    width: 90%;
    /* max-width: 1200px; */
    margin: 20px auto;
    border: 10px solid #2555c7;
    background-color: #f9f9f9;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .tabs-container {
    display: flex;
    background-color: #f1f1f1;
    border-bottom: 1px solid #000000;
    min-height: 40px;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    color: #555;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    transition: background-color 0.2s ease;
  }

  .selected-tab {
    background-color: #1b25b8; /* Or whatever darker color you prefer */
    color: #fff; /* Optional: Change the text color if necessary */
  }
  
  
  .tab:hover {
    background-color: #5f86cf;
  }
  
  .tab:last-child {
    border-right: none;
  }
  
  .list-container {
    padding: 20px;
    background-color: white;
    min-height: 400px;
  }

  .logout-button-container {
    position: absolute;
    top: 10px; /* Adjust based on your preference */
    right: 10px; /* Adjust based on your preference */
  }
  
  .logout-button {
    /* Add any specific styles you want for the button here */
  }
  