.button-container {
  margin-top: 20px;
}

.login-button,
.signup-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.signup-button {
  background-color: #28a745;
}

.splash-text {
  text-align: center; /* This will center the text inside */
}


.login-button:hover,
.signup-button:hover {
  background-color: #0056b3;
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* This makes sure the container takes at least the full viewport height */
}
